body {
	font-family:ruluko, sans-serif;
	background-color: #9acbb8;
}

a {
	font-family: molengo, sans-serif;
	font-size: 12px;
	color: #970e02;
}


div.container {
	width:100%;
	margin:0px;
	border 1px dashed purple;
}

div.header {
	background-color: #ffffff;
	background-image:url('pabst-header.jpg');
	background-repeat: no-repeat;
	background-position:center top;
	background-size:1024px;
	max-width: 1024px;
	border: 1px solid grey;
	height: 249px;
	margin:0px;
}

div.main {
	background-color: #daf0e7;
	max-width: 1024px;
	overflow: hidden;
	margin:0px;
	border: 1px solid grey;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

th {
	background-color: #b4e1cf;
}
